{% extends "website/default.html" %}
{% load static %}

{% block title %} {{ block.super }} - About Us {% endblock %}

{% block content %}
    {{block.super}}
  <!-- block.super calls everything in the inherited file, then adds on after -->
  <!-- About Section -->
  <div class="container">
    <div class="ml-0 pt-2 pt-lg-3 pl-lg-3">
      <h1 class="font-weight-lighter display-4 underline">One Skill. Infinite Opportunities.</h1>
    </div>
    <div class="about-container">
      <div class="about-banner">
        <img src="{% static 'website/winterworkshop.jpg' %}" alt="CSESoc Winter Workshop, July 2018" class="about-banner-img">
      </div>
      <div class="about-body">
        <div class="about-mission">
          <h2>Our mission is to inspire and engage high school students to explore the broad field of Computer Science.</h2>
        </div>
        <div class="about-description">
          <h3>About us</h3>
          <p>
            CompClub is a high school outreach program of the Computer Science and Engineering Student Society (CSESoc) at UNSW Sydney.
          </p><p>
            From robotics to computer games workshops, we hope to spark the interests of those who are just starting their journey into Computer Science whilst also providing depth for those who have excelled beyond the classroom.
          </p><p>
            CompClub organises biannual Summer and Winter workshops, taught at UNSW, covering a wide variety of topics in the computing world. We also run standalone and weekly workshops throughout the year at UNSW and participating high schools. 
          </p><p>
            We believe that anyone can code, and everyone should have the opportunity to try. Our workshops are mentored by current computing students at the University of New South Wales. 
          </p><p>
            Computer Science is a broad topic with fields in Robotics, Security, Computer Graphics, Game design and many more. We hope to show students from all disciplines how a knowledge of computing can help them in the future. <i class="fas fa-square"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
