{% extends "website/default.html" %}
{% load list_tools %}

{% block title %} {{ block.super }} - Events {% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
  <div class="event-list-header">
    <h1 class="event-list-title">Events</h1>
  </div>
  {% if perms.website.view_event %}
    <div class="event-list">
    {% if perms.website.view_hidden_event %}
      {% for event in events_list %}
      {% include "website/event_card.html" %}
      {% empty %}
      <h2>There aren't any events at this time</h2>
      <p>Stay tuned for future events!</p>
      {% endfor %}
    {% else %}
      {% for event in events_list|filterby:"hidden_event,False" %}
      {% include "website/event_card.html" %}
      {% empty %}
      <h2>There aren't any events at this time</h2>
      <p>Stay tuned for future events!</p>
      {% endfor %}
    {% endif %}
    </div>
  {% else %} 
  <div class="event-list">
    <h3>Please <a href="{% url 'website:login' %}">login</a> or <a href="{% url 'website:signup' %}">sign up</a> to gain access the workshops.</p>
    <h3></h3>
  </div> 
  {% endif %}
</div>
{% endblock %}
