{% extends "website/default.html" %}

{% block title %} {{ block.super }} - Events {% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="event-list-header">
      <h1 class="event-list-title">Events</h1>
      {% if user.is_authenticated %}
        <button>Create New Event</button>
      {% endif %}
    </div>
    <div class="event-list">
    {% if events_list %}
      {% for event in events_list %}
       <div class="event-holder">
          <div class = "calendar">
          {% if event.n_workshops > 1 %}
            <div class="calender-container calendar-from">
              <h3 class="calendar-month">{{ event.start_date|date:"M" }}</h3>
              <p class="calendar-day">{{ event.start_date|date:"d" }} </p>
            </div>
            <p class="calendar-divider">&#8212;</p>
            <div class ="calender-container calendar-to">
              <h3 class="calendar-month">{{ event.finish_date|date:"M" }}</h3>
              <p class="calendar-day">{{ event.finish_date|date:"d" }} </p>
            </div>
            <h5 class="calendar-nworkshops">{{ event.n_workshops }} Workshops</h5>
          {% else %}
            <div class ="calender-container calendar-to">
              <h3 class="calendar-month">{{ event.start_date|date:"M" }}</h3>
              <p class="calendar-day">{{ event.start_date|date:"d" }} </p>
            </div>
          {% endif %}
          </div>
          <div class="event-card">
            <div class="event-card-container">
              <a href="{% url 'website:event_page' slug=event.slug event_id=event.pk %}">
                <h2 class="event-card-title">{{ event.name }}</h2>
              </a>
              <p class="event-card-description">{{ event.description }}</p>
              <p class="event-card-prereq"><span class="prereq-title">Prerequisites:</span> {{ event.prerequisite }}</p>
              <div class="event-card-footer">
                  <a class="event-card-footer-link" href="{% url 'website:event_page' slug=event.slug event_id=event.pk %}">
                      Learn more
                  </a>
              </div>
            </div>
          </div>
         </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="event-list">
        <h2>There aren't any events at this time</h2>
        <p>Stay tuned for future events!</p>
      </div>
    {% endif %}
  </div>
{% endblock %}
