{% extends "website/default.html" %}
{% load widget_mods %}

{% block title %} {{ block.super }} - Create Event {% endblock %}

{% block content %}
{{ block.super }}
<div class="container">
  <div id = "title">
  <h3 class="display-3 mb-3 mt-3" id="title">Create Event</h3>
  </div>

  <form class="event-form" method="post" novalidate>
    {% csrf_token %}

    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}

    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <div class="form-group">
      {{ form.name.label_tag }}
      {% if form.name.errors %}
        {% comment %}With the custom filter "add_attr" we can put extra css
        classes to this form field{% endcomment %}
        {{ form.name|add_attrs:"placeholder:Event title, is-invalid" }}
        {% for error in form.name.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
      {% else %}
        {{ form.name|add_attrs:"placeholder:Event title" }}
      {% endif %}
    </div>

    <div class="form-row">

      <div class="form-group col-md-3">
        {{ form.start_date.label_tag }}
        {% if form.start_date.errors %}
          {{ form.start_date|add_attrs:"is-invalid" }}
          {% for error in form.start_date.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
        {% else %}
          {{ form.start_date }}
        {% endif %}
        <small class="form-text text-muted">
          {{ form.start_date.help_text }}
        </small>
      </div>

      <div class="form-group col-md-3">
        {{ form.finish_date.label_tag }}
        {% if form.finish_date.errors %}
          {{ form.finish_date|add_attrs:"is-invalid" }}
          {% for error in form.finish_date.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
        {% else %}
          {{ form.finish_date }}
        {% endif %}
        <small class="form-text text-muted">
          {{ form.finish_date.help_text }}
        </small>
      </div>

      <div class="form-group col-md-3">
        <label for="{{ form.owner.id_for_label }}">{{ form.owner.label }}:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          {% if form.owner.errors %}
          {{ form.owner|add_attrs:"is-invalid" }}
          {% for error in form.owner.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
          {% else %}
          {{ form.owner }}
          {% endif %}
        </div>
        <small class="form-text text-muted">
          {{ form.owner.help_text }}
        </small>
      </div>

      <div class="form-group col-md-3">
        <label for="{{ event_form.event_types.id_for_label }}">{{ event_form.event_types.label }}:</label>
        <div class="input-group">
          {% if event_form.event_types.errors %}
          {{ event_form.event_types|add_attrs:"is-invalid" }}
          {% for error in event_form.event_types.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
          {% else %}
          {{ event_form.event_types }}
          {% endif %}
        </div>
        <small class="form-text text-muted">
          {{ event_form.event_types.help_text }}
        </small>
      </div>

    </div>

    <div class="form-group">
      {{ form.description.label_tag }}
      {% if form.description.errors %}
      {{ form.description|add_attrs:"rows:3, cols:10, is-invalid" }}
      {% for error in form.description.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% else %}
      {{ form.description }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.prerequisite.label_tag }}
      {% if form.prerequisite.errors %}
      {{ form.prerequisite|add_attrs:"placeholder:Assumed knowledge,rows:3, cols:10, is-invalid" }}
      {% for error in form.prerequisite.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% else %}
      {{ form.prerequisite|add_attrs:"placeholder:Assumed knowledge,rows:3, cols:10" }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.period.label_tag }}
      {% if form.period.errors %}
      {{ form.period|add_attrs:"rows:3, cols:10, is-invalid" }}
      {% for error in form.period.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% else %}
      {{ form.period|add_attrs:"rows:3, cols:10" }}
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
{% endblock %}
