{% extends "website/default.html" %}

{% block title %} {{ block.super }} - Event {% endblock %}

{% block content %}
  {{ block.super }}
<div class="container">
  <div class="header">
      <h1 class="title">{{ event.name }}</h1>
  </div>
  <h2>Assign volunteers to workshops</h2>

  {% for w, form in workshops %}
    <div class="event-detail-card">
      <div class="event-card-container">
        <h3 class="event-detail">{{ w.name }}</h3>
        <h4>{{ w.time }}</h4>
        {% if not form.visible_fields %}
        <p>No available volunteers.</p>
        {% else %}

        {% if w.unassigned %}
        <h5>{{ w.unassigned|length }} unassigned</h5>
        {% endif %}
        {% comment %} Show form if there are available volunteers {% endcomment %}
        <form method="POST" class="assign-form">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {{ form.non_field_errors }}
          <table>
            {% for field in form.visible_fields %}
              {% if forloop.first %}
                <thead><tr>
                  <th>Available Volunteers</th>
                  {% for radio in field %}
                    <th class="label">{{ radio.choice_label }}</th>
                  {% endfor%}
                </tr></thead>
              {% endif %}
              <tr>
                <th>{{ field.label }}<br></th>
                {% for radio in field %}
                  <td>{{ radio.tag }}</td>
                {% endfor%}
              </tr>
            {% endfor %}
          </table>
          <button type="submit" class="event-button right"><i class="fas fa-user-check"></i> Save</button>
        </form>
        {% endif %}
        {% if w.withdrawn %}
        <p>Assigned volunteers who are no longer available:
          {% for volunteer in w.withdrawn %}
            {% if forloop.last %}
              {{ volunteer }}.
              {% else %}
              {{ volunteer }},
            {% endif %}
          {% endfor %}
        </p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <!-- TODO -->
</div>
{% endblock %}