{% load static %}
<section id="contact">

  <footer class="page-footer font-small" style="background-color: #3F3D3D;">

    <div class="container text-center text-md-left">

      <div class="row" style="margin:auto">

        <!-- Email sign up column -->
        <div class="col-md-8 col-lg-6 mr-auto my-md-4 my-0 mt-4 mb-1" style="margin:auto;" >
          <p></p>
          <p>Stay updated with our events!</p>
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Email Address"
              aria-label="Email Address" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm my-0" type="button">Subscribe</button>
            </div>
          </form>
        </div>

        <!-- CC Info column -->
        <div class="col-md-4 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1 border-left" style="padding-left: 3%;">

          <p></p>
          <img src="{% static 'website/index/csesocwhiteblue.png' %}" alt="CSESoc logo" class="img-fluid" style="width:30%">
          <p></p>
          
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-map-marker mr-3"></i> Barker St, Kensington NSW 2052
            </li>
            <p></p>
            <li>
              <i class="fas fa-envelope mr-3"></i> compclub@csesoc.org.au
            </li>
          </ul>
        </div>
      </div>
    </div>

  </footer>
</section>
