{% extends "website/default.html" %}
{% load static %}

{% block content %}
{{ block.super }}
<section id="home" class="py-3 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-4 d-none d-lg-block d-xl-block">
        <img src="{% static 'website/index/IMG_0122-cover.jpg' %}" alt="cover photo 1" class="img-fluid" style="max-height: 80vh">
      </div>
      <div class="col-12 col-lg-8 col-xl-8 px-0 px-lg-1 px-xl-1" style="align-self: flex-end;">
        <div class="container">
          <div class="row">
            <div class="container">
              <div class="col-12 px-0">
                <h1 class="hero-title">EXPLORE THE<br><span style="color: #3A76F8;">POSSIBILITIES</span></h1>
                <h3 class="hero-subtitle">CSESoc CompClub provides a variety of free workshops on campus and at high schools!</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6 col-xl-6 py-1 py-md-3 px-0 px-lg-1 px-xl-1">
              <img src="{% static 'website/index/IMG_0101.jpg' %}" alt="cover photo 2" class="img-fluid"> 
            </div>
            <div class="col-12 col-lg-6 col-xl-6 py-1 py-md-3 px-0 px-lg-1 px-xl-1">
              <img src="{% static 'website/index/a-3.png' %}" alt="cover photo 3" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="text-center" style="padding-top: 3rem; padding-bottom: 3rem; background-color: #3F3D3D; color: white;">
  <div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="index-title" style="color:white;">ABOUT US</h1>
      <br/>
        <p>CompClub is a portfolio under the student run UNSW organisation CSESoc that promotes computing to high school students throughout the year. By running a variety of freeworkshops throughout the year, we aim to create a fun, collaborative environment for students to develop their interests and hone their programming skills along like-minded students.</p>
    </div>
  </div>
  </div>
</section>

{% include 'website/components/highlighted_events.html' %}

<section id="initiatives" class="container" style="padding-top: 3rem;">
  <h1 class="index-title text-center">PAST INITIATIVES</h1>

  <div class="container">
    <div class="row py-4">
      <div class="col-12 col-lg-6 col-xl-6">
        <img src="{% static 'website/index/IMG_0122.jpg' %}" alt="Codespace workshop img" class="img-fluid">
      </div>
      <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
        <div class="container">
          <hr class="section-heading-spacer">
          <div class="row">
            <div class="col-auto">
              <img src="{% static 'website/index/codespace.png' %}" alt="codespace logo" class="img-fluid  logo-small">
            </div>
            <div class="col-12">
              <h2 class="index-title">Code Space Workshop</h2>
            </div>
          </div>
          <div><p class="index-date">January 2020 | University of New South Wales</p></div>
          <div class="lead"><p>We hosted 60 high school students across Sydney for a 5 day workshop covering topics including game development, microbits and virtual reality.</p></div>
        </div>
      </div>
    </div>

    <div class="row py-4">
      <div class="col-12 col-lg-6 col-xl-6 offset-xl-1 order-0 order-lg-1 order-xl-1">
        <img src="{% static 'website/index/a-3.png' %}" alt="Regional Roadtrip img" class="img-fluid">
      </div>
      <div class="col-12 col-lg-6 col-xl-5 text-lg-right text-xl-right order-1 order-lg-0 order-xl-0">
        <hr class="section-heading-spacer">
        <div class="col-auto">
        <img src="{% static 'website/index/orbit.png' %}" alt="orbit regional roadtrip logo" class="img-fluid logo-small">
        </div>
        <div class="col-12">
        <h2 class="index-title">Orb:it Regional Roadtrip</h2>
        </div>
        <div><p class="index-date">September 2019 | Orange &amp; Dubbo NSW</p></div>
        <div class="lead"><p>A group of 14 volunteers traveled 263km to teach programming to 5 regional schools</p></div>
      </div>
    </div>
    <div class="row py-4">
      <div class="col-12 col-lg-6 col-xl-6">
        <img src="{% static 'website/index/3.jpg' %}" alt="Summer Spy School img" class="img-fluid">
      </div>
      <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
        <div class="container">
          <hr class="section-heading-spacer">
          <div class="row">
            <div class="col-auto">
            <img src="{% static 'website/index/spy.png' %}" alt="summer spy school logo" style="width:50px; height:50px">
            </div>
            <div class="col-12">
                <h2 class="index-title">Summer Spy School</h2>
            </div>
          </div>
          <div><p class="index-date">January 2019 | University of New South Wales</p></div>
          <div class="lead"><p>We hosted 38 high school students across Sydney for a 5 day workshop covering topics including game development, microbits and web development.</p></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "website/footer.html" %}

{% endblock %}
