{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="navbar-header">
    <a href="{% url 'website:index' %}" class="navbar-brand" href="#home">
      <img src="{% static 'website/index/compclub-logo.png' %}" alt="CSESoc CompClub" class="img-responsive"
        style="margin:5%">
    </a>
  </div>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-items collapse navbar-collapse page-scroll col-12" id="navbarNavDropdown">
    <ul class="navbar-nav mt-2 mt-lg-0 ">
      {% if request.resolver_match.url_name == 'index'%}
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#workshops">Workshops</a>
          </li>
          <li>
            <a class="page-scroll" href="#initiatives">Initiatives</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website:index' %}">Home</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website:event_index' %}">Events</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="accountDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i>
          {% if request.user.first_name %}
          {{ request.user.first_name }}
          {% else %}
          {{ request.user.username }}
          {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a href="{% url 'website:logout' %}" class="dropdown-item">Logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website:login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website:signup' %}">Sign Up</a>
      </li>

      {% endif %}
      <li class="nav-item">
        <a class="nav-link external-link text-warning" href="https://www.csesoc.unsw.edu.au">Go to CSESoc</a>
      </li>
    </ul>
  </div>
</nav>
