<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1C1E20;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-12"  id="navbarNavDropdown">
    <ul class="navbar-nav mt-2 mt-lg-0 ">
      <li class="nav-item active ">
	       <a class="nav-link "href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
	       <a class="nav-link" href="{% url 'website:about' %}">About</a>
      </li>
      <li class="nav-item">
	       <a class="nav-link" href="{% url 'website:event_index' %}">Events</a>
      </li>
      <li class="nav-item">
	       <a class="nav-link" href="{% url 'website:login' %}">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
      <li class="nav-item">
	<a class="nav-link text-primary" href="https://www.csesoc.unsw.edu.au">Go to CSE</a>
      </li>
    </ul>
  </div>
</nav>
