{% extends "website/default.html" %}

{% block title %} {{ block.super }} - Email preview {% endblock %}

{% block content %}
{{ block.super }}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {% for email in emails %}
      <tr>
        <th scope="row">{{ email.3.0 }}</th>
        <td>{{ email.1|safe }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form method="POST">
    {% csrf_token %}
    <button class="btn" type="submit">Send</button>
  </form>
</div>
{% endblock %}
