[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2.3"
gunicorn = "*"

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"

[requires]
python_version = "3.7"
