
html, body {
    background-color: #f4f7f6;
}

.event-list-header {
    margin-left: 10%;
    margin-top: 2.5rem;
}

.event-list {
    margin-top: 2.0rem;
    margin-left: 10%;
    margin-right: 10%;
}

.event-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top: 4px solid #034f84;
    border-radius: 8px;
    background-color: #fafbfc;
    font-size: 1.2rem;
    margin: 0 0 2.0rem;
    width: 80%;
}


.event-card-container {
    padding: 12px 16px 2px;
}

.event-card-container p {
    margin: 6px 0 0;
}

.event-card-container a, .event-card-container a:visited {
    text-decoration: none;
    color: navy;
}

.event-card-footer {
    border-top: 1px solid #a0a0a0;
    margin: 12px 0 0;
    position: relative;
    width: 100%;
    display: inline-block;
}

.event-card-footer-link {
    margin: 6px 0 0px 0;
    float: right;
}